# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Build products
*.o
*.d
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Archives & exports
*.xcarchive
export/
dist/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Xcode Pods / SPM
Pods/
.build/
Package.resolved

# Secrets / personal
*.p12
*.cer
*.mobileprovision
*.provisionprofile
ExportOptions.plist
